/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css?family=Amatic+SC|Berkshire+Swash|Amiri");
@import url("https://fonts.googleapis.com/css?family=Overpass:300");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  /*the box sizing keeps the element from growing when a border is being used*/
  box-sizing: border-box; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1.2; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  position: relative;
  font-family: 'Amiri', serif;
  font-weight: 100; }

h4 {
  font-size: 25px;
  font-family: "Overpass", sans-serif; }

button, input[type="button"] {
  border-radius: 0;
  border-style: none;
  border-width: 0;
  padding: 0; }

header {
  color: white;
  background-color: #2E3532;
  position: fixed;
  width: 100%;
  height: 40px;
  font-family: "Overpass", sans-serif;
  z-index: 5;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }
  header .logo a {
    font-family: "Berkshire Swash";
    font-size: 22px;
    margin-left: 20px;
    color: white;
    text-decoration: none; }
  header .menu {
    margin-right: 20px; }
    header .menu ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      display: flex;
      flex-direction: row;
      justify-content: space-around; }
      header .menu ul li {
        padding: 10px; }
        header .menu ul li a {
          color: white;
          text-decoration: none; }

footer {
  color: white;
  background-color: #2E3532;
  height: 60px;
  width: 100%; }

.main-container .title-section {
  height: 100vh; }
  .main-container .title-section h1 {
    font-family: "Berkshire Swash";
    font-size: 100px;
    text-align: center;
    padding: 60px 0 20px 0;
    letter-spacing: 10px;
    color: #800D09; }
    .main-container .title-section h1 a {
      text-decoration: none;
      color: inherit; }
    .main-container .title-section h1 a:hover {
      color: red; }
  .main-container .title-section .main-image {
    background: url("../william-felker-38344.jpg") no-repeat center center;
    background-size: contain;
    margin: auto;
    border-radius: 50%;
    height: 400px;
    width: 400px; }

.main-container .bottom-section .description-holder {
  padding: 150px 0; }
  .main-container .bottom-section .description-holder h4 {
    text-align: center;
    margin-bottom: 20px; }
  .main-container .bottom-section .description-holder .description {
    width: 70%;
    font-size: 20px;
    margin: auto;
    text-align: center;
    font-weight: 300;
    line-height: 25px; }

.main-container .bottom-section .products {
  margin: 50px 0;
  display: flex;
  flex-direction: row;
  justify-content: center; }
  .main-container .bottom-section .products .product {
    height: 400px;
    width: 30%;
    display: inline-block;
    position: relative; }
    .main-container .bottom-section .products .product img {
      display: block;
      margin: auto;
      height: 90%; }
    .main-container .bottom-section .products .product h6 {
      text-align: center;
      padding: 10px 0; }

.main-container .bottom-section .about-holder {
  background-color: #E1E8E5;
  width: 85%;
  padding: 10px;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between; }
  .main-container .bottom-section .about-holder .about-left {
    height: 80vh;
    width: 50%;
    background: url("https://images.unsplash.com/photo-1464454709131-ffd692591ee5");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; }
  .main-container .bottom-section .about-holder .about-right {
    width: 50%;
    padding-left: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: "Overpass", sans-serif; }
    .main-container .bottom-section .about-holder .about-right span {
      font-size: 10px;
      letter-spacing: 1px;
      color: #686767; }
    .main-container .bottom-section .about-holder .about-right .about-quote {
      font-family: "Amiri", serif;
      font-size: 22px;
      padding: 10px 0; }
    .main-container .bottom-section .about-holder .about-right button {
      padding: 10px 15px;
      color: white;
      background-color: #2E3532;
      cursor: pointer; }

.main-container .bottom-section .recipe-holder h4 {
  font-family: "Overpass", sans-serif;
  font-size: 25px;
  text-align: center; }

.main-container .bottom-section .recipe-holder .recipe {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer; }
  .main-container .bottom-section .recipe-holder .recipe .recipe1 {
    background: url("https://images.unsplash.com/photo-1495147466023-ac5c588e2e94"); }
  .main-container .bottom-section .recipe-holder .recipe .recipe2 {
    background: url("https://images.unsplash.com/photo-1497730355818-1a1dff6ffd25"); }
  .main-container .bottom-section .recipe-holder .recipe .recipe3 {
    background: url("https://images.unsplash.com/photo-1496412705862-e0088f16f791"); }
  .main-container .bottom-section .recipe-holder .recipe .recipe-image {
    height: 400px;
    width: 65%;
    margin: 20px 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end; }
    .main-container .bottom-section .recipe-holder .recipe .recipe-image .recipe-title {
      width: 100%;
      padding: 15px;
      background-color: rgba(46, 53, 50, 0.6);
      color: white;
      font-family: "Overpass", sans-serif;
      font-size: 20px; }

.main-container .bottom-section .recipe-holder .dots {
  width: 100%;
  height: 20px;
  text-align: center; }
  .main-container .bottom-section .recipe-holder .dots .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #ffffff;
    border: 1px solid #2E3532;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease; }
  .main-container .bottom-section .recipe-holder .dots .active {
    background-color: #2E3532; }

.main-container .bottom-section .recipe-holder .fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s; }

@-webkit-keyframes fade {
  from {
    opacity: .4; }
  to {
    opacity: 1; } }

@keyframes fade {
  from {
    opacity: .4; }
  to {
    opacity: 1; } }

@media (max-width: 820px) {
  .main-container .bottom-section .products .product {
    height: 300px; } }

@media (max-width: 640px) {
  .main-container .bottom-section .products {
    display: block; }
    .main-container .bottom-section .products .product {
      display: block;
      margin: auto;
      width: 70%;
      height: auto; }
    .main-container .bottom-section .products img {
      width: 100%; }
    .main-container .bottom-section .products h6 {
      font-size: 20px; } }

.main-container .hr {
  width: 80%;
  border-top: 1px solid #800D09;
  margin: 30px auto; }
